@import url(fonts/notosanskr.css); 
@import url(fonts/notosanssc.css); 
@import url(fonts/notosansjp.css); 


body {
  font-weight: 400;
  font-size: 14px;
  color: #505050;
}
html, body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
h1, p{
  margin:0;
  padding:0;
}

h1{
  font-size:2rem;
  font-weight:500;
}

html:lang(ko) body {
  font-family: 'Noto Sans KR', sans-serif;
}

html:lang(en) body {
  font-family: 'Noto Sans KR', sans-serif;
}

html:lang(cn) body {
  font-weight: 100;
  font-family: 'Noto Sans SC', sans-serif;
}
html:lang(jp) body {
  font-weight: 400;
  font-family: 'Noto Sans JP', sans-serif;
}


/* div:lang(ko) * {
  font-family: 'Noto Sans KR', sans-serif;
}

div:lang(en) * {
  font-family: 'Noto Sans KR', sans-serif;
}

div:lang(cn) * {
  font-weight: 400;
  font-family: 'Noto Sans SC', sans-serif;
}
div:lang(jp) * {
  font-weight: 400;
  font-family: 'Noto Sans JP', sans-serif; 
} */
.wrap{
  padding:2rem;
}

@media (min-width: 576px) {
  body{
    font-size:15px;
  }
}

@media (min-width: 768px) {
  body{
    font-size:16px;
  }
  /* div:lang(jp) * {
    font-weight: 400;
    font-size:18px;
  } */
}